:root { 
--black_900_a0:#000000a0; 
--gray_900_bf:#1f1f1fbf; 
--gray_900_77:#23222277; 
--green_A700_01:#05ff00; 
--gray_900:#1c1b1f; 
--gray_900_bc:#1f1f1fbc; 
--gray_200:#e9e9e9; 
--gray_200_0f:#efeeee0f; 
--white_A700_00:#ffffff00; 
--white_A700_cc:#ffffffcc; 
--white_A700_77:#ffffff77; 
--green_A700:#00fa19; 
--black_900:#000000; 
--blue_gray_100_b2:#d9d9d9b2; 
--gray_200_51:#efeeee51; 
--white_A700:#ffffff; 
--gray_800_a0:#4b4b4ba0; 
--gray_300_b2:#dededeb2; 
--black_900_bf:#000000bf; 
}